* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #1d1d1d;
  color: white;
  overflow: hidden;
}
input[type="radio"] {
  display: none;
}
li {
  list-style-type: decimal;
}
.buttonLabel {
  display: flex;
  padding: 10px;
  border: 1px solid black;
}
input + label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  background: white;
  color: black;
  border: 1px solid black;
}
input:checked + label {
  background: black;
  color: white;
}
input:not(:checked) + label:hover {
  background: #6495ed;
}
.container {
  display: none;
  /* padding: 10px; */
}
.container.active {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 5rem;
}
.content {
  display: flex;
  flex-direction: column;
  font-size: 2em;

  /* background: ; */
}
.instruction {
  width: 100%;
  border: 1px solid white;
  font-size: 1.4em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container {
  animation: pagein ease-in-out 1s forwards;
}
@keyframes pagein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.form span {
  display: block;
  font-size: 1em;
  color: white;
  border-bottom: 2px solid snow;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.instruction-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  text-align: center;
  background: none;
  padding: 10px;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  border: 1px solid white;
}
.input-name {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  place-items: center;
  border: none;
}
input:focus,
input:active {
  outline: none;
  border: none;
  background-color: none;
}
input[type="text"] {
  padding: 20px 20px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(249, 249, 249, 0.5);
  background-color: transparent;
  border-radius: 25px;
  color: white;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.input-container.active {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-name label {
  font-size: 2em;
}
.input-field input {
  font-size: 1.2em;
}
.process-button {
  display: grid;
  grid: 1/-1;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 10px;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}
.process-button:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(249, 249, 249, 0.5);
}
.game {
  display: none;
}
.game.active {
  display: flex;
  flex-direction: column;
}
.game .side {
  display: flex;
  flex-direction: row;
}
.leaderboard {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  height: 500px;
  background: rgb(59, 59, 59);
  border: 1px solid white;
}
.leaderboard li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.end {
  display: none;
}
.end.active{
  display: flex;
  border:1px solid black;
  gap: 2rem;
}
#user1{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#user2{
  display: flex;
  flex-direction: column;
  gap: 1rem;

}